## Range(x,y,z)
from x to y-1 and increment by z default 1

In [4]:
for i in range(2,5):
    print(i)

2
3
4

In [35]:
s = "ABhijite"
for i in s:
    print(i)

A
B
h
i
j
i
t
e

In [45]:
s = "Abhijite"
for i in range(len(s)):
    print(s[i],end="")

Abhijite

## Matrix

In [55]:
for i in range(1,4):
    for j in range(1,3):
        print(i,end="")
        print(j,end=" ")
    print()

11 12
21 22
31 32

## Break

In [52]:
for i in range(5):
    if(i==3):
        break
    print(i)

0
1
2

# continue

In [53]:
for i in range(5):
    if(i==3):
        continue
    print(i)

0
1
2
4

In [74]:
s = "Hstu , Dinajpur"
for l in s:
    print(l)
    if (l == 'a'):
        break
print("Loop Outer")

H
s
t
u

,

D
i
n
a
Loop Outer

## Pass

In [75]:
for i in range(1,6):
    pass

In [78]:
for i in range(1,21):
    if( i%3==0 or i%5==0):
        print(i)

3
5
6
9
10
12
15
18
20

## List
### -> multiple items , ordered, changeable, allow duplicate values
### -> indexed start from 0
### List=[1,2,3]

In [ ]:
fruits=["apple","chery","banana",1]
print(fruits)

['apple', 'chery', 'banana', 1]

In [89]:
for i in range(len(fruits)):
    print(fruits[i]," ",type(fruits[i]))

print(len(fruits))

apple   <class 'str'>
chery   <class 'str'>
banana   <class 'str'>
1   <class 'int'>
4

In [101]:
fruits=list(("apple","banana","chery")) #list constructor
print(fruits)
print(type(fruits))
print(len(fruits))

['apple', 'banana', 'chery']
<class 'list'>
3

### reverse

In [ ]:
fruits=["apple","chery","banana"]
for i in range(len(fruits)):
    print(fruits[-i-1])
print(fruits[-3])

banana
chery
apple
apple

### Slice

In [120]:
number=[0,1,2,3,4,5,6,7]
print(number[2:5])
print(number[:4])
print(number[4:])

[2, 3, 4]
[0, 1, 2, 3]
[4, 5, 6, 7]