In [17]:
number=[0,1,2,3,4,5,6,7,1,2]
number
number.remove(1) #remove only first item
number

[0, 2, 3, 4, 5, 6, 7, 1, 2]

In [6]:
number.remove(11)

ValueError: list.remove(x): x not in list

# pop : if no parameter then last will remove if we set index then this index value will remove

In [ ]:
number.pop()
number.pop(2)

7

## clear the list

In [25]:
number.clear()
number

[]

### print list in many ways

In [48]:
number=[1,2,3,4,5]
for x in number:
    print(x,end=" ")

1 2 3 4 5

In [47]:
for i in range(len(number)):
    print(number[i],end=" ")

1 2 3 4 5

In [41]:
i=0
# while i<len(number):
#     print(i)
#     i=i+1
print(i)

0

In [10]:
i=0
while i<len(number):
    print(number[i],end=" ")
    i+=1

1 2 3 4 5

In [11]:
number=[1,2,3,4,5]
[print(x) for x in number]

1
2
3
4
5

[None, None, None, None, None]

In [28]:
fruits=["apple",'banana','cherry','kiwi','mango']
newlist=[]
for i in fruits:
    if 'a' in i:
        newlist.append(i)
print(newlist)

['apple', 'banana', 'mango']

### expression loop condition

In [15]:
newlist=[x for x in fruits if 'a' in x]
newlist

['apple', 'banana', 'mango']

### sort ascending

In [17]:
fruits.sort()
fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango']

### sort descending

In [18]:
fruits.sort(reverse=True)
fruits

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [19]:
fruits=['apple',"Banana","Kiwi"]
fruits.sort()
fruits

['Banana', 'Kiwi', 'apple']

In [20]:
fruits.sort(key=str.lower)
fruits

['apple', 'Banana', 'Kiwi']

In [23]:
mylist=list.copy(fruits)
mylist=fruits.copy()
mylist

['apple', 'Banana', 'Kiwi']

In [36]:
list1=[1,2,3]
list2=[4,5,6,'a','b']
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 'a', 'b']

In [37]:
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 'a', 'b']

In [41]:
number=[1,2,3,4,5,6,7,8,9]
even=[x for x in number if x%2==0]
print(even)

[2, 4, 6, 8]